/* Загальні стилі, які будуть застосовуватися до всіх розмірів екрану */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 20px;
}

/* Стилі для широкоформатних моніторів з шириною екрану 1200px і більше */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 1920px;
  height: 120px;
  left: calc(50% - 1920px / 2);
  top: 0px;
  background: rgba(94, 93, 88, 0.6);
}

.nav_li {
  position: relative;
}

.nav_li:hover::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 3px;
  background: url(./source/Line_navbar.png);
}

.logo_nav {
  position: absolute;
  width: 233.05px;
  height: 120px;
  left: 380px;
  top: calc(50% - 120px / 2);
  cursor: pointer;
}

.nav_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 614.8px;
  height: 24px;
  left: 883.02px;
  top: 48px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  padding-right: 15px;
  cursor: pointer;
}

.nav_liFir:hover {
  background-color: #18cfab;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #18cfab;
}

.search_icon {
  position: sticky;
  width: 21.09px;
  height: 20px;
  left: 1518.91px;
  top: 49px;
  cursor: pointer;
}

/*BLOCK 2*/
.header {
  background: url(./source/Layer_1.png);
  position: absolute;
  width: 1920px;
  height: 1012px;
  left: calc(50% - 1920px / 2);
}

.text_for_parag {
  position: absolute;
  width: 769px;
  height: 213px;
  left: 576px;
  top: 366px;
}

.text_parag_first {
  position: absolute;
  width: 637px;
  height: 35px;
  left: 66px;
  top: 13px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text_parag_firstGreen {
  color: #18cfab;
}

.text_parag_second {
  position: absolute;
  width: 798px;
  height: 80px;
  left: -17px;
  top: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text_parag_third {
  position: absolute;
  width: 795px;
  height: 34px;
  left: -14px;
  top: 172px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d4d4d4;
}

.explore_button {
  position: absolute;
  width: 169px;
  height: 68px;
  left: 778px;
  top: 701px;
}

.explore_button_button {
  position: absolute;
  width: 169px;
  height: 63px;
  left: 0px;
  top: 5px;
  background: #18cfab;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.explore_button_button:hover {
  background-color: #00cbf6;
}

.explore_button_line {
  position: absolute;
  width: 169px;
  height: 64px;
  left: 0px;
  top: 5px;
  background: white;
  border-radius: 4px;
}

.explore_button_text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.purchase_button {
  position: absolute;
  width: 168px;
  height: 68px;
  left: 973px;
  top: 701px;
}

.purchase_button_button {
  position: absolute;
  width: 169px;
  height: 63px;
  left: 0px;
  top: 5px;
  background: #00cbf6;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.purchase_button_button:hover{
  background-color: #18cfab;
}
/*BLOCK 3*/

.for_option {
  position: absolute;
  width: 1922px;
  height: 370px;
  left: calc(50% - 1922px / 2);
  top: 1015px;
}

.first_option {
  position: absolute;
  width: 482px;
  height: 360px;
  left: 0px;
  top: 10px;
}

.rectagle_first {
  position: absolute;
  width: 482px;
  height: 377px;
  left: 0px;
  top: -10px;
  background: #1c2a33;
  cursor: pointer;
}

.rectangle_text_first {
  position: absolute;
  width: 315px;
  height: 25px;
  left: 103px;
  top: 232px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #18cfab;
  cursor: pointer;
}

.first_option_image {
  position: absolute;
  width: 61px;
  height: 100px;
  left: 210px;
  top: 85px;
  background: none;
  cursor: pointer;
}

.second_option {
  position: absolute;
  width: 482px;
  height: 360px;
  left: 480px;
  top: 10px;
  cursor: pointer;
}

.rectagle_second {
  position: absolute;
  width: 482px;
  height: 377px;
  left: 0px;
  top: -10px;
  background: #18cfab;
  cursor: pointer;
}

.rectangle_text_second {
  position: absolute;
  width: 266px;
  height: 25px;
  left: 127px;
  top: 232px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.second_option_image {
  position: absolute;
  width: 93px;
  height: 75px;
  left: 195px;
  top: 98px;
  cursor: pointer;
  background: none;
}

.third_option {
  position: absolute;
  width: 482px;
  height: 360px;
  left: 960px;
  top: 10px;
  cursor: pointer;
}

.rectagle_third {
  position: absolute;
  width: 482px;
  height: 377px;
  left: 0px;
  top: -10px;
  background: #1c2a33;
  cursor: pointer;
}

.rectangle_text_third {
  position: absolute;
  width: 255px;
  height: 25px;
  left: 133px;
  top: 232px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #18cfab;
  cursor: pointer;
}

.third_option_image {
  position: absolute;
  width: 60px;
  height: 96px;
  left: 211px;
  top: 87px;
  background: none;
  cursor: pointer;
}

.fourth_option {
  position: absolute;
  width: 482px;
  height: 360px;
  left: 1440px;
  top: 10px;
  cursor: pointer;
}

.rectagle_fourth {
  position: absolute;
  width: 482px;
  height: 377px;
  left: 0px;
  top: -10px;
  background: #18cfab;
  cursor: pointer;
}

.rectangle_text_fourth {
  position: absolute;
  width: 294px;
  height: 25px;
  left: 113px;
  top: 232px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.fourth_option_image {
  position: absolute;
  width: 99px;
  height: 76px;
  left: 192px;
  top: 97px;
  background: none;
  cursor: pointer;
}

/*BLOCK 4*/
.service {
  position: absolute;
  width: 1160px;
  height: 375px;
  left: 380px;
  top: 1477px;
}

.service_title {
  position: absolute;
  width: 254px;
  height: 40px;
  left: 468px;
  top: -2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
}

.global_title_line {
  position: absolute;
  width: 91px;
  height: 8px;
  left: 555px;
  top: 62px;
}

.service_title_line_first {
  position: absolute;
  width: 75.54px;
  height: 1px;
  left: 2px;
  top: 2px;
  background: #18cfab;
}

.service_title_line_second {
  position: absolute;
  width: 78px;
  height: 1px;
  left: 13px;
  top: 8px;
  background: #18cfab;
}

.service_designe {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 1160px;
  height: 238px;
  left: 6px;
  top: 137px;
}

.tab {
  width: 192px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: lightgray;
  color: black;
  left: 34px;
  top: 17.2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  background: #f8fcfe;
  border: 1px solid #edefef;
}

.tab:hover {
  -webkit-box-shadow: 0rem -0.125rem 0rem 0rem #18cfab;
  -moz-box-shadow: 0rem -0.125rem 0rem 0rem #18cfab;
  box-shadow: 0rem -0.125rem 0rem 0rem #18cfab;
  color: #18cfab;
}

.tab.active,
.tab.selected {
  width: 192px;
  height: 72px;
  background: #18cfab;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 130px);
}

.tab-content.active img {
  width: 192px;
  height: 139px;
  margin-right: 20px;
}

.services_text {
  position: absolute;
  width: 952px;
  height: 136px;
  left: 208px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #777777;
}

.tab.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

/*BLOCK 5*/
main {
  position: absolute;
  width: 1920px;
  /* height: 1012px; */
  left: calc(50% - 1920px / 2);
}

.purchase {
  position: absolute;
  width: 1922px;
  height: 479px;
  left: 1px;
  top: 1925px;
  left: calc(50% - 1920px / 2);
  background: url(./source/Sections_background/section-2.jpg);
}

.purchase_section {
  position: absolute;
  width: 1922px;
  height: 479px;
  left: 1px;
  background-color: #1c2a33;
  mix-blend-mode: multiply;
}

.purchase_fisrtText {
  position: absolute;
  width: 1143.34px;
  height: 40px;
  left: 388.83px;
  top: 126.78px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}

.purchase_secondText {
  position: absolute;
  width: 852px;
  height: 40px;
  left: 535px;
  top: 179px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d8d8d8;
}

.purchasse_button {
  position: absolute;
  width: 168px;
  height: 68px;
  left: 877px;
  top: 281px;
}

.purchasse_button_line {
  position: absolute;
  width: 168px;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 4px;
}

.purchasse_button_button {
  position: absolute;
  width: 168px;
  height: 63px;
  left: 0px;
  top: 5px;
  background: #18cfab;
  border-radius: 3px;
  border: none;
}

.purchasse_button_button:hover {
  background-color: #00cbf6;
  color: #fff;
  text-decoration: none;
}

.purchasse_button_text {
  cursor: pointer;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/*BLOCK 6*/
.workBlock {
  position: absolute;
  width: 1920px;
  height: 1112px;
  left: calc(50% - 1920px / 2);
  top: 2404px;
  background-color: #e9edef;
}

.workBock_main {
  position: absolute;
  width: 346px;
  height: 66px;
  left: 788px;
  top: 97px;
}

.workBlock_title {
  position: absolute;
  left: -15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
}

.workBlock_title_line {
  position: absolute;
  width: 93px;
  height: 8px;
  left: 127px;
  top: 55px;
}

.workBlock_title_line_first {
  position: absolute;
  width: 75.54px;
  height: 1px;
  left: 2px;
  top: 2px;
  background: #18cfab;
}

.workBlock_title_line_second {
  position: absolute;
  width: 78px;
  height: 1px;
  left: 13px;
  top: 8px;
  background: #18cfab;
}

/* TABBLOCK*/
.workBlock_tabs {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 589px;
  height: 62px;
  left: 665px;
  top: 228px;
  position: absolute;
}

.workBlock_tab {
  flex: 1;
  border: 1px solid #dadada;
  text-align: center;
  margin-bottom: 10px;
  width: 77px;
  height: 58px;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #717171;
}

.workBlock_center {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 582px;
  height: 58px;
  left: 2px;
  top: 4px;
  background: rgba(0, 0, 0, 0.0001);
}

.workBlock_tab:last-child {
  margin-right: 0;
}

.workBlock_tab.active {
  color: #18cfab;
  border-color: #18cfab;
}

.workBlock_tab-content {
  display: none;
  margin-top: 20px;
  flex-basis: 100%;
}

.workBlock_tab-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.workBlock_tab-content img {
  flex: 1 0 23%;
}

.workBlock_tab-content .workBlock_load-more {
  border-radius: 5px;
  cursor: pointer;
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

.workBlock_tab-content.active .workBlock_load-more {
  display: block;
}

.workBlock_tab-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.workBlock_tab-content.active .workBlock_load-more {
  margin: 20px auto 0;
}

.workBlock_tab-content.active {
  height: 445px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.workBlock_tab-content.active .workBlock_load-more {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.workBlock_tab-content.active[data-tab='tab1'] .workBlock_load-more {
  display: block;
}

.workBlock_image {
  width: 285px;
  height: 211px;
  left: -2px;
  top: 1px;
}

.workBlock_image_content {
  position: absolute;
  width: 1140px;
  height: 208px;
  left: 380px;
  top: 359px;
}

.workBlock_image_content .workBlock_image.hidden {
  display: none;
}
.workBlock_load-more.hidden {
  display: none;
}

.hidden {
  display: none;
}

/*breakingNews*/
.breakingNews {
  position: absolute;
  width: 1160px;
  height: 744px;
  left: calc(50% - 1160px / 2);
  top: 3630px;
  background: #ffffff;
}

.breakingNews_main {
  position: absolute;
  width: 268px;
  height: 70px;
  left: 446px;
  top: 0px;
}

.breakingNews_title {
  position: absolute;
  width: 298px;
  height: 40px;
  left: -15px;
  top: -2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
}

.breakingNews_title_line {
  position: absolute;
  width: 93px;
  height: 8px;
  left: 72px;
  top: 55px;
}

.breakingNews_title_line_first {
  position: absolute;
  width: 75.54px;
  height: 1px;
  left: 2px;
  top: 2px;
  background: #18cfab;
}

.breakingNews_title_line_second {
  position: absolute;
  width: 78px;
  height: 1px;
  left: 13px;
  top: 8px;
  background: #18cfab;
}

.breakingNews_home_upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.breakingNews_home_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageBreakingNews {
  width: 263px;
  height: 208px;
  padding: 15px;
}

.textBreakingNews {
  width: 211px;
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #717171;
  padding-left: 30px;
  padding-top: -10.76px;
}

.textBreakingNewsSecond {
  width: 210px;
  height: 40px;
  left: -11px;
  top: 19.19px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #777777;
  padding-left: 27px;
}

.smallImgBreakingFirst {
  position: absolute;
  width: 70px;
  height: 68px;
  left: -214px;
  top: 135px;
  background: #203e38;
}

.smallImgBreakingSecond {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 49px;
  top: 135px;
  background: #203e38;
}

.smallImgBreakingThird {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 313px;
  top: 135px;
  background: #203e38;
}

.smallImgBreakingFourth {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 576px;
  top: 135px;
  background: #203e38;
}

.smallImgBreakingFives {
  position: absolute;
  width: 70px;
  height: 68px;
  left: -214px;
  top: 427px;
  background: #203e38;
}

.smallImgBreakingSixes {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 49px;
  top: 427px;
  background: #203e38;
}

.smallImgBreakingSevens {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 313px;
  top: 427px;
  background: #203e38;
}

.smallImgBreakingEights {
  position: absolute;
  width: 70px;
  height: 68px;
  left: 576px;
  top: 427px;
  background: #203e38;
}

.dateImageBreaking {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 68px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.dateImageBreakingSecond {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 68px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.breakingNews_home_first:hover .smallImgBreakingFirst,
.breakingNews_home_second:hover .smallImgBreakingSecond,
.breakingNews_home_third:hover .smallImgBreakingThird,
.breakingNews_home_fourth:hover .smallImgBreakingFourth,
.breakingNews_home_fives:hover .smallImgBreakingFives,
.breakingNews_home_sixes:hover .smallImgBreakingSixes,
.breakingNews_home_sevens:hover .smallImgBreakingSevens,
.breakingNews_home_eights:hover .smallImgBreakingEights {
  background-color: #18cfab;
}

.breakingNews_home_first:hover .textBreakingNews,
.breakingNews_home_second:hover .textBreakingNews,
.breakingNews_home_third:hover .textBreakingNews,
.breakingNews_home_fourth:hover .textBreakingNews,
.breakingNews_home_fives:hover .textBreakingNews,
.breakingNews_home_sixes:hover .textBreakingNews,
.breakingNews_home_sevens:hover .textBreakingNews,
.breakingNews_home_eights:hover .textBreakingNews {
  color: #18cfab;
}

.breakingNews_home_upper:hover .imageBreakingNews:after {
  opacity: 0.5;
}

/* BLOCK 9 */
.containerPeopleSay {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.peopleSay {
  position: absolute;
  width: 1920px;
  height: 853px;
  left: 1px;
  top: 4476px;
  background: url(./source/Sections_background/section-3.jpg);
}

.peopleSay_main {
  left: 35%;
  position: absolute;
  top: 100px;
}

.peopleSay_title h2 {
  margin-bottom: 1.75rem;
  width: 613px;
  height: 40px;
  left: -15px;
  top: -2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.peopleSay_title_line {
  position: relative;
  background: #18cfab;
  width: 5.625rem;
  height: 0.0625rem;
  margin: 0 auto;
  position: absolute;
  width: 79px;
  height: 1px;
  left: 2px;
  top: 2px;
  background: #18cfab;
}

.peopleSay_title_line_second {
  position: absolute;
  width: 79px;
  height: 1px;
  left: 13px;
  top: 8px;
  background: #18cfab;
}

.people_say_main_line {
  position: absolute;
  width: 93px;
  height: 8px;
  left: 251px;
  top: 55px;
}

.peopleSay_wrapper {
  position: absolute;
  width: 1920px;
  height: 560px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.peopleSay_image_mini {
  padding-top: 300px;
}

.text_peopleSay {
  width: 1160px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bbbbbb;
  padding-top: 40px;
}

.opinion_author_text {
  padding: 20px;
}

.nameH4 {
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  justify-content: center;

}

.workH4 {
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #bbbbbb;
  justify-content: center;

}

.opinion_author_img_border {
  width: 10.3125rem;
  height: 10.3125rem;
  background: rgba(24, 207, 171, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 10.3125rem;
  margin: 0 auto;
  padding: 0.625rem;
}

.opinion_author_img img {
  width: 9.0625rem;
  height: 9.0625rem;
  border: 0.125rem solid #18cfab;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #b2b2b2;
}

.image-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 92%;
  padding-bottom: 90px;
}

.image-carousel__wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
  width: 61px;
  height: 61px;
  margin-right: -100px;
  cursor: pointer;
}

.image-carousel__wrapper img {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-left: 40px;
}

.image-carousel__button {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-content: start;
  justify-content: left;
  flex-direction: initial;
}

.image-carousel__button--prev {
  left: 0;
}

.image-carousel__button--next {
  right: 0;
}

.button_background1 {
  position: absolute;
width: 31px;
height: 31px;
left: 680px;
top: -47px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #bbbbbb;
}

.button_background2 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: -573px;
  top: -47px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}

.fromaarrow1 {
  position: absolute;
  width: 10px;
  height: 15px;
  left: 8px;
  top: 7px;
}

.fromaarrow2 {
  position: absolute;
  width: 10px;
  height: 15px;
  left: 11px;
  top: 7px;
}

.photo-container {
  position: relative;
}

.circle-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #ffffff 10%, #c8c8c8 50%, #757575 90%);
  z-index: -1;
}

.button_background1:hover, .button_background2:hover, .fromaarrow2:hover, .fromaarrow1:hover {
  background-color: #18cfab;
  border-color: #18cfab;
  color: white;
}

.image-carousel__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-carousel__wrapper img {
  height: auto;
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.image-carousel__wrapper img:hover {
  opacity: 1;
  transform: scale(1.6);
}

.hide{
  display: none;
}

.opinion_author_image img {
  width: 72px;
  height: 71px;
  border: 0.125rem solid #18cfab;
  border-radius: 50%;
  background-color: #b2b2b2;

}
