<<<<<<< HEAD
<section id="cards-wrapper" class="cards__wrapper container-fluid">
	<div id="no-items-wrapper" class="no-items__wrapper container-fluid text-light mt-5">
		<p class="fs-3 text-center">No items have been added</p>
	</div>

	<div class="cards__container row pb-5" id="cards-container"></div>
</section>
=======
<section>
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>	
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card m-3" style="width: 18rem;">
					<img src="@img/background3.png" class="card-img-top p-2" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
>>>>>>> origin
