<<<<<<< HEAD
<header class="mb-4">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
		<div class="container-fluid">
			<div class="navbar-nav">
				<a class="navbar-brand" href="#">
					<img src="@img/logo.png" alt="...">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="header-btns__wrapper">
				<button type="button" id="login-btn" class="btn btn-primary btn__login">
					Вхід
				</button>
				<button type="button" id="create-card-btn" class="btn btn-primary btn__create">
					Створити візит
				</button>
				<button type="button" id="logout-btn" class="btn btn-primary btn__logout">
					Вийти
				</button>
			</div>
		</div>
=======
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
		<div class="container-fluid d-flex">
			<a class="navbar-brand" href="#">
				<img src="@img/logo.png" alt="...">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<form class="d-flex p-2 flex-fill ms-5" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary text-light mx-2" type="submit">Search</button>
				</form>
				<ul class="navbar-nav p-2 flex-fill">
					<li class="nav-item dropdown mx-2">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Status
						</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">Open</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Done</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown mx-2">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Priority
						</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">High</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Normal</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Low</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<button type="button" class="btn btn-primary">Сreate</button>
>>>>>>> origin
	</nav>
</header>